html
	head
		title Staff Dashboard 
		
		//CSS
		link()

		//FONTS
		link()

		
		//MIXINS

	body
		.container-fluid
			.pagecontent
				a(href="views/homepage-dashboard.pug")
					button(typ="button") Programs
			.sidebar
				block sidebar 
					p temporary navigation bar 
				
