html
	title Homepage 

	body
		.container-fluid
			.pagecontent
				a(href="create")
					button(typ="button") View all applications 
				a(href="create")
					button(typ="button") Mark an application
