mixin import-app()
    .container
        p nothing much from import-app-mixin.pug
        button Import Applications From Excel
        https://www.youtube.com/watch?v=XLHdYUmb1Tk
        https://www.npmjs.com/package/mongoose-xlsx-data-importer
