extends layout

block content

	body
		h1 Create New Program	

		form(method='post' action='/newProgram')
			.container-fluid
				p
					label(for="newProgram") New Program:
					input(type="text" name="programName" placeholder="Program Name" required)
			
			.container-fluid
				p
					label(for="creatorName") Creator Name: 
					input(type="text" name="creatorName" placeholder="Name of Creator(s)" required)
	
			.container-fluid
				p
					label(for="Venue") Venue:
					input(type="text" name="venue" placeholder="Venue Name" required)

			.container-fluid
				p
					label(for="number") Capacity:
					input(type="number" name="capacity" placeholder="Max Capacity" required)
			
			.container-fluid
				p
					label(for="textarea") Description:
					textarea(name="description" placeholder="Give a Brief Description" rows="4" cols="50")

			
			.container
				p
					label(for="File") Attach File (Optional):
					input(type="File" name="file" accept="file_extension")
			
			button(type='submit') Create New Program 



			


