html
	head
		title All Applications 
		
		//CSS
		link()

		//FONTS
		link()

		
		//MIXINS

	body
		.container-fluid
			+dashboard()
			.pagecontent
				div(class="table" href=)
			.sidebar
				block sidebar 
					p Sort 
					p Filter 
					p Search 
				
