extends layout

block content
  h2 All Applications
  br
  table.table.table-bordered
    thead
        tr
            th Timestamp
            th Full Name
            th Email
            th Phone Number
            th Year at University 
            th University
            th Degree
            th Preference
        tr
            th time to get a watch
            // place button to view the persons application a(href="/tammy")
            th tammy
            th gmail.com
            th 000
            th 4TH year
            th UNSW
            th Comp sci
            th consulting, IT 
