html
	head
		title Staff Dashboard
		h1 Staff Dashboard 

	body
		p
			a(href="/staffviewallapplications")
				button View all Applications 
		p
			a(href="/markanapplication")
				button Mark an Application 
//.sidenav {
	height 100%
	width 160px
	position fixed
	z-index 1
	top 0
	bottom 0 
	background-color #111 
	}
		
