html
	head
		title Staff Dashboard
		
		//CSS
		link()

		//FONTS
		link()

		
		//MIXINS

	body
		div(class="button" href="views/SLPapplications.pug")
			h1 View all Applications 
		div(class="button" href="views/markanapplication.pug")
			h1 Mark an Application 
		
