extends layout

block content
  h2 All Applications
  br
  table.table.table-bordered
    thead
        tr
            th Timestamp
            th Full Name
            th Email
            th Phone Number
            th Year at University 
            th University
            th Degree
            th Preference
        tr
            th theon
            th victoria
            th nev
            th chong
            th tammy
            th kath
