html
	head
		title Appications 
		
		//CSS
		link()

		//FONTS
		link()

		
		//MIXINS

	body
		.container-fluid
			+dashboard()
			.pagecontent
				div(class="button" href="views/SLPapplications.pug")
					h1 view all applications 
				div(class="button" href="views/markanapplications.pug")
					h1 mark an application 
			.
